# Entornos virtuales de Python
venv/
.venv/
env/
virtualenv/

# Archivos compilados y caché de Python
__pycache__/
*.pyc

# Archivos temporales de Jupyter Notebooks
.ipynb_checkpoints/

# Archivos ocultos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db